[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dtlscores"]
	path = dtlscores
	url = https://github.com/grimmjulian/dtlscores
